@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #1cbd47;
    color:white;
}

.welcome {
  width: 75%;  
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.welcome button { 
   margin-right: 3em;
   border: solid 2px white;
   background: white;
   color: #1cbd47;
   font-size: 1.5em;
   width: 7.5em;
   border-radius: 30px;
}

.welcome button:hover {
   background:none;
   color:white;
}

.welcome label {
   font-size: 5em;
}

  
