<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
       <title>Jan Straka</title>
      <link rel="stylesheet" type="text/css" href="HOST/static/css/home.css">
      <link rel="icon" type="image/x-icon" href="HOST/static/favicon.ico">
</head>
</body>
<div class="navbar">
<span>Jan Straka</span><div class="menu"><a href="HOST">Domů</a><a href="HOST/about/">O mně</a><a>Projekty</a><a>Sociální sítě</a></div>
<div class="welcome" >
    <center><h1>Vítej na mém webu</h1></center>
</div>
</body>
</html>
