<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
       <title>Jan Straka</title>
      <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
</body>
<div class="welcome" >
    <center>
    <label>Jan Straka</label><br>
    <h1>Vítej na mém webu</h1><br>
    {% if request.MOBILE %}
    <a href="/about/"><button>O mně</button></a><br><a href="https://github.com/Honzasko"><button>Projekty</button></a><br><a href="/social/"><button>Sociální sítě</button></a>
    {% else %}
    <a href="/about/"> <button>O mně</button></a><a href="https://github.com/Honzasko"><button>Projekty</button></a><a href="/social/"><button>Sociální sítě</button></a>{% endif %}  </center>
</div>
</body>
</html>
