<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
       <title>Jan Straka</title>
      <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
</body>
<div class="welcome" >
    <center>
    <label>Jan Straka</label><br>
    <h1>{{ object.welcome_message }}</h1><br>
    {% if request.MOBILE %}
    <a href="about/"><button>{{ object.about_me }}</button></a><br><a href="https://github.com/Honzasko"><button>{{ object.text_projects }}</button></a><br><a href="social/"><button>{{ object.social_text }}</button></a>
    {% else %}
    <a href="about/"> <button>{{ object.about_me }}</button></a><a href="https://github.com/Honzasko"><button>{{ object.text_projects }}</button></a><a href="social/"><button>{{ object.social_text }}</button></a>{% endif %}  </center>
</div>
</body>
</html>
