{% extends "main.html" %}
{% block content %}

<div class="row">
 <div class="col s16 m3">
   <div class="card">
       <div class="card-image">
          <img src="/static/img/instagram.png" >
       </div>
       <div class="card-action">
         <a href="https://www.instagram.com/officialjanstraka/"> Instagram </a>
       </div>
    </div>
 </div>
 <div class="col s16 m3">
    <div class="card">
         <div class="card-image">
           <img src="/static/img/twitter.png">
         </div> 
        <div class="card-action">
           <a href="https://twitter.com/JanStraka14"> Twitter</a>
        </div>
    </div>
 </div>
</div>

{% endblock %}
